---
import Layout from '../layouts/Layout.astro'
import ContactForm from '../components/vue/contact_form.vue'

// This is the contact page

const errors = {
	name: '',
	email: '',
	message: ''
}

async function sendEmail(email: string, subject: string, message: string) {
	const response = await fetch('/api/send-email', {
		method: 'POST',
		headers: {
			'Content-Type': 'application/json'
		},
		body: JSON.stringify({ 
			email: email,
			subject: subject,
			message: message,
			reply_to: 'me@arenmarsden.com'
		 })
	})

	if (response.ok) {
		return response.json()
	} else {
		throw new Error('Failed to send email')
	}
}

if (Astro.request.method === 'POST') {
	try {
		const data = await Astro.request.formData()
		const name = data.get('name')
		const email = data.get('email')
		const message = data.get('message')

		if (!name) {
			errors.name = 'Name is required'
		}

		if (!email) {
			errors.email = 'Email is required'
		}

		if (!message) {
			errors.message = 'Message is required'
		}

		// If there are no errors, send the email
		const response = await sendEmail(email as string, 'Contact Form Submission', message as string)
		console.log(response)
	} catch (error) {
		console.error(error)
	}
}
---

<Layout title="contact">
	<div class="flex h-screen items-center justify-center bg-gray-800">
		<div class="w-full md:w-1/2">
			<h1 class="text-white font-semibold text-center">Contact Me</h1>
			<ContactForm />
		</div>
	</div>
</Layout>
