---
import Layout from '../layouts/Layout.astro'
---

<Layout title="home">
	<main class="flex h-screen items-center justify-center bg-gray-800">
		<div class="mx-auto w-full md:w-1/4" style="padding-top: 3%">
			<img src="/images/aren.jpg" alt="Aren's Image" class="w-full rounded-full" />
		</div>
		<div class="w-full p-4 md:w-1/2">
			<h1
				class="text-center text-4xl font-bold text-white"
				style="padding-top: 8%; padding-right: 25%;"
			>
				Hey, I'm <span class="text-blue-500">Aren</span>
			</h1>
			<p class="mt-4 text-center text-white" style="padding-right: 25%;">
				I am a cloud software engineer specializing in developing robust, scalable applications on
				the AWS platform. Proficient in strongly typed languages, I build reliable and efficient
				systems. I am dedicated to delivering software solutions that drive business success.
			</p>
		</div>
	</main>
</Layout>
